{% extends 'base.html' %}
{% block content %}
<div class="text-center py-5">
    <h1 class="display-4">Welcome to Ryde</h1>
    <p class="lead">Instant vehicle repair and towing booking platform</p>

    {% if user.is_authenticated %}
        {% if user.user_type == 'owner' %}
            <h4>Your Vehicles</h4>
            {% if user.vehicles.exists %}
                <ul class="list-group w-50 mx-auto">
                    {% for vehicle in user.vehicles.all %}
                        <li class="list-group-item">{{ vehicle }}</li>
                    {% endfor %}
                </ul>
                <a href="#" class="btn btn-success mt-3">Add New Vehicle</a>
            {% else %}
                <p>No vehicles added yet.</p>
                <a href="#" class="btn btn-success">Add Your First Vehicle</a>
            {% endif %}
        {% elif user.user_type == 'repair_shop' %}
            <p>Manage your repair shop profile soon.</p>
        {% elif user.user_type == 'towing' %}
            <p>Manage your towing service soon.</p>
        {% endif %}

        <a href="{% url 'profile' %}" class="btn btn-primary btn-lg mt-4">My Profile</a>
    {% else %}
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg me-3">Get Started</a>
        <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg">Login</a>
    {% endif %}
</div>
{% endblock %}