{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0">Set Up Your {{ user_type|title }} Profile</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}